<div class="header">
  <div class="header__content">
    <a class="header__logo-link" href="/">
      <img class="header__logo" src="/images/logo.svg" alt="Nueue Logo" />
    </a>
    <ul class="header__nav">
      <li class="header__nav-item">
        <a href="#">Blog</a>
      </li>
    </ul>
  </div>
</div>
