<div class="header">
  <div class="header__content">
    <a aria-label="Nueue Logo" class="header__logo-link" href="/">
      <img class="header__logo" src="/images/logo.svg" alt="Nueue Logo" />
    </a>
    <nav class="header__nav">
      <ul class="header__nav-listing" aria-role="navigation">
        <li class="header__nav-item">
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
