{% extends "../../templates/html.twig" %}
{% set data = {
  'title': 'Nueue - Some Page'
  } %}
{% block content %}
<div class="layout-max">
  {% include '../../components/page/page.twig' %}
</div>
{% endblock %}
