// Homebox
//
// Markup: homebox.twig
//
// Style guide: homebox

$homebox__font-size: .75rem;

.homebox__wrapper,
%homebox__wrapper {
  color: $white;
  height: 100%;
  width: 100%;

  @include breakpoint(450px) {
    margin: 0 auto;
    display: flex;
  }
}

.homebox__form,
%homebox__form {
  margin: 2.5rem 0 0;
}

.homebox,
%homebox {
  background: $transparent__dark;
  align-self: center;
  width: 100%;
  height: 100%;
  overflow: scroll;

  @include breakpoint(450px) {
    margin: auto;
    padding: 3.5rem;
    border-radius: 2px;
    width: 18rem;
    display: block;
    height: auto;
    overflow: hidden;
  }
}

.homebox__content,
%homebox__content {
  width: 100%;
  max-width: calc(100% - 4rem);
  padding: 2rem;

  @include breakpoint(450px) {
    padding: 0;
    max-width: none;
  }

}

.homebox__logo,
%homebox__logo {
  display: block;
  margin: 0 auto;
  height: 3.5rem;
}


.homebox__buttons,
%homebox__buttons {
  margin: 0 auto;
}

.homebox__button-link,
%homebox__button-link {
  @extend %homebox__form;
  display: block;
  width: 99%;
  border: 1px solid $white;
  padding: $homebox__font-size 0;
  text-align: center;
  text-transform: uppercase;
  font-size: $homebox__font-size;
}

.homebox__button-icon,
%homebox__button-icon {
  height: 16px;
  display: inline;
  margin: 0 3px -3px;
}

.homebox__form-message-show,
%homebox__form-message-show {
  display: block !important;
}

.homebox__form-message,
%homebox__form-message {
  display: none;
  margin-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: $homebox__font-size;
  line-height: $homebox__font-size;
}

.homebox__form-link,
%homebox__form-link {
  margin-top: $homebox__font-size;
  display: inline-block;
}

.homebox__form-title,
%homebox__form-title {
  margin: 2.5rem 0 0;
  font-size: 1rem;
}

.homebox__form-error,
%homebox__form-error {
  @extend %homebox__form-message;
  margin-top: 1.75rem;
  margin-bottom: -1.25rem;

  p {
    margin: 0;
    line-height: 1.5rem;
    font-size: .75rem;
  }

  &:empty {
    display: none !important;
  }
}

.homebox__form-loader-icon,
%homebox__form-loader-icon {
  display: inline-block;
  height: 1.25rem;
  margin: 1px auto -2px;
  animation-name: homebox-loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes homebox-loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.homebox__form-loader,
%homebox__form-loader {
  @extend %input;
  display: none;
  text-align: center;
  text-transform: uppercase;
  padding: $homebox__font-size;
}
