<div class="homebox__content">
  <a href="http://github.com/astolfivincent" aria-label="Github" class="homebox__button-link">
    <img class="homebox__button-icon" src="images/github.svg" />
    <span class="homebox__button-text">Checkout Nueue</span>
  </a>
  <div class="homebox__form-message">
    <span>Submission Successful</span>
    <a class="homebox__form-link" href="/">Change of Scenery?</a>
  </div>
  <form class="homebox__form">
    <h2 class="homebox__form-title">Get in Touch</h2>
    <input name="name" type="text" placeholder="Name" />
    <input name="email" type="email" placeholder="Email" />
    <textarea name="message" placeholder="Message"></textarea>
    <input name="submit" type="submit" value="Submit" />
    <div class="homebox__form-loader" tabindex="0" aria-live="polite" aria-label="Submitting Form">
      <img class="homebox__form-loader-icon" src="images/loading.svg" />
    </div>
  </form>
</div>
