<div class="author">
  <h2 class="author__heading">About the Author</h2>
  <p class="author__content">In sem sagittis pellentesque non ac sem. Praesent sed placerat dolor. Fusce sed tellus orci. In quam elit, ultricies id blandit eu, dapibus quis nibh. Vestibulum efficitur faucibus rutrum. Nullam at nisi lacus.</p>
  <img class="author__image" src="/images/vincent.jpg" />
  <div class="author__info">
    <div class="author__name">Vincent Astolfi</div>
    <div class="author__title">Creative Director, Nueue</div>
  </div>
</div>
