<div class="page__wrapper">
  <div class="page__masthead">
    <div class="page__masthead-content">
      <h1 class="page__title">{{data.title|default('Don\t forget your title!')}}</h1>
      <div class="page__date">Published {{data.date}} by Vincent Astolfi</div>
    </div>
    <img class="page__masthead-image" width="600" height="300" src="{{data.image|default('http://nueue.net/images/backgrounds/image-14.jpg')}}" />
  </div>
  <div class="page">
    <div class="page__content">
      {{data.content}}
    </div>
  </div>
  {% include '../author/author.twig' %}
</div>
