<div class="footer">
  <div class="footer__content">
    <nav class="footer__nav">
      <ul class="footer__nav-listing" aria-role="navigation">
        <li class="footer__nav-item">
          <a href="#">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
