<div class="masthead">
  <div class="masthead__content">
    <h1 class="masthead__title">{{data.title|default('Don\t forget your title!')}}</h1>
    <div class="masthead__date">Published {{data.date}} by Vincent Astolfi</div>
  </div>
  <img class="masthead__image" width="676" height="338" src="{{data.image|default('http://nueue.net/images/backgrounds/image-14.jpg')}}" />
</div>
