<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nueue - {{data.title|default('Web Development, Branding, Marketing.')}}</title>
    <meta name="description" content="Web Development, Branding, Marketing. Check out Nueue on github.">
    <meta name="author" content="Nueue">
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>

  <body>
    {% include '../components/background/background.twig' %}

    {% if data.type == 'posts' %}
      {% include 'posts.twig' with data %}
    {% elseif (data.type == 'pages') %}
      {% include 'pages.twig' with data %}
    {% elseif (data.listing.type == 'listing') %}
      {% include 'listing.twig' with data %}
    {% endif %}
    <script async type="text/javascript" src="/assets/js/bundle.js"></script>
  </body>
</html>
