<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nueue - {{data.title|default('Web Development, Branding, Marketing.')}}</title>
    <meta name="description" content="Web Development, Branding, Marketing. Check out Nueue on github.">
    <meta name="author" content="Nueue">
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    {% include '../components/background/background.twig' %}

    {% if data.alert|length > 0 %}
      {% include '../components/alert/alert.twig' with {'alert': data.alert} %}
    {% endif %}

    {% if not (data.header == false) %}
      {% include '../components/header/header.twig' %}
    {% endif %}

    {% if data.content|length > 0 %}
      <div class="layout-max">
        {% include '../components/page/page.twig' with data %}
      </div>
    {% else %}
      {% include '../components/homebox/homebox.twig' with data.homebox %}
    {% endif %}

    {% if not (data.footer == false) %}
      {% include '../components/footer/footer.twig' %}
    {% endif %}
    <script async type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>
