// Rate
//
// Markup: rate.twig
//
// Style guide: rate

.rate,
%rate {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(20, 20, 20, .75);
  color: #fff;
  padding: 1.5rem;
  margin: 0;
  list-style: none;
  font-size: 2rem;
  text-align: center;
}
