<div class="dice__table">
  <div class="dice">
    <div data-did="0" data-dval="1" class="dice__die"></div>
    <div data-did="1" data-dval="2" class="dice__die"></div>
    <div data-did="2" data-dval="3" class="dice__die"></div>
    <div data-did="3" data-dval="4" class="dice__die"></div>
    <div data-did="4" data-dval="5" class="dice__die"></div>
  </div>
  <div class="dice__roll">Roll</div>
</div>
