// Dice
//
// Markup: dice.twig
//
// Style guide: dice

.dice__container,
%dice__container {
  text-align: center;
}

.dice__notification,
%dice__notification {
  display: none;
  border: 1px solid;
  padding: 1rem;
  max-width: 350px;
  margin: 0 auto 1rem;
}

.dice__error,
%dice__error {
  @extend %dice__notification;
  background: #ffd1d1;
  color: #9a0000;
}

.dice__notice,
%dice__notice {
  @extend %dice__notification;
  background: #e7ffe5;
  color: #156f26;
}

.dice__welcome,
%dice__welcome {
  display: none;
}

input.dice__welcome-name,
%dice__welcome-name {
  max-width: 300px;
  margin: 0 auto 1rem;
  border: 1px solid;
  color: #404040;
  font-size: 1.5rem;
  font-family: monospace;

  &::placeholder {
    color: #6b6b6b;
  }
}

.dice__join,
%dice__join {
  display: none;
}

input.dice__join-name,
%dice__join-name {
  @extend %dice__welcome-name;
}

.dice__table,
%dice__table {
  display: none;
  text-align: center;
}

.dice__table-invite-text,
%dice__table-invite-text {
  display: inline-block;
}

input.dice__table-invite-link,
%dice__table-invite-link {
  display: inline-block;
  max-width: 350px;
  padding: .25rem;
  color: #757575;
  border: 1px solid;
  margin: .5rem;
  font-size: 1rem;
}

.dice,
%dice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice__die {
  background: url('/assets/images/dice.png');
  background-position: -1px 1px;
  background-size: 120px;
  width: 34px;
  height: 34px;
  margin: 2rem .5rem;
}

.dice__die[data-dval='2'] {
  background-position: 0 35px;
}

.dice__die[data-dval='3'] {
  background-position: -43px 35px;
}

.dice__die[data-dval='4'] {
  background-position: -86px 35px;
}

.dice__die[data-dval='5'] {
  background-position: -44px 1px;
}

.dice__die[data-dval='6'] {
  background-position: -86px 1px;
}

.dice__roll,
%dice__roll {
  background: linear-gradient(to right, #9e86ff 0, #ae78c7 50%, #9e86ff 100%);
  display: inline-block;
  font-size: 1.25rem;
  color: $white;
  text-transform: uppercase;
  padding: .5rem 1rem;
  cursor: pointer;
  letter-spacing: 1px;
}
