<div class="alert__container" tabindex="0" aria-live="polite" aria-role="alert">
  <img class="alert__icon" alt="Alert Icon" src="images/alert.svg" />
  <div class="alert__message">That page doesn't exist, but don't worry! You're back to safety.</div>
</div>
