<div class="alert" tabindex="0" aria-live="polite" aria-role="alert">
  <img class="alert__icon" src="/assets/images/alert.svg" alt="Alert Icon">
  <div class="alert__message">{{ alert }}</div>
</div>
