// background
//
// Markup: background.twig
//
// Style guide: background

@import '../components/homebox/homebox';

%background,
.background {
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  overflow: hidden;
  background: #efefef;
}

%background__image,
.background__image {
  display: block;
  min-width: 105%;
  min-height: 105%;
  margin: -2%;
  opacity: 0;
  filter: blur(9px);
  transition: opacity 1s, filter 2s;
  width: auto;
  height: auto;
}

.background__curator,
%background__curator {
  display: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: .5rem .75rem;
  background: $homebox__background;
  border-radius: 2px;
  color: $white;
  max-width: 7rem;
  text-align: center;
  font-size: .75rem;
  line-height: 1rem;
  cursor: pointer;
}

%background__image-unhide,
.background__image-unhide {
  opacity: 1;
  filter: blur(3px);
}
