// background
//
// Markup: background.twig
//
// Style guide: background

%background,
.background {
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  overflow: hidden;
  background: #efefef;
}

%background__image,
.background__image {
  display: block;
  min-width: 105%;
  min-height: 105%;
  margin: -2%;
  opacity: 0;
  filter: blur(9px);
  transition: opacity 1s, filter 2s;
  width: auto;
  height: auto;
}

%background__image-unhide,
.background__image-unhide {
  opacity: 1;
  filter: blur(3px);
}
